<h1>Quotes</h1>
<a href="<%=url_for :new_quote %>">new</a>
<table>
	<tr>
		<th>no.</th>
		<th>ticker</th>
		<th>date</th>
		<th>actions</th>
	</tr>
	<% @quotes.each do |f|%>
	<tr>
		<td></td>
		<td><%=f.ticker%></td>
		<td><%=f.dyyyymmdd%></td>
		<td> show | edit | delete</td>
	</tr>
	<% end %>
</table>
